<mat-sidenav-container fullscreen>
    <!-- SIDENAV -->
    <mat-sidenav #sidenav>
        <mat-nav-list (click)="sidenav.close()">
            <a routerLink="tasks" mat-list-item>
                <mat-icon>fact_check</mat-icon>
                <span>My Tasks</span>
            </a>
            <a (click)="createEditTask()" mat-list-item>
                <mat-icon>addchart</mat-icon>
                <span>Create Task</span>
            </a>
            <a routerLink="planning-tasks" mat-list-item>
                <mat-icon>home</mat-icon>
                <span>Planning Tasks</span>
            </a>
            <a (click)="logout()" mat-list-item>
                <mat-icon>account_circle</mat-icon>
                <span>Logout</span>
            </a>
        </mat-nav-list>
    </mat-sidenav>
    <!-- TOOLBAR -->
    <mat-toolbar color="primary">
        <!-- sidenav-menu -->
        <button mat-icon-button (click)="sidenav.open()">
            <mat-icon>menu</mat-icon>
        </button>
        <h1>LETS GET SHIT DONE!</h1>
        <!-- login -->
        <a class="logout" (click)="logout()" mat-button>
            <mat-icon>account_circle</mat-icon>
            Logout
        </a>
    </mat-toolbar>
    <!-- ROUTER -->
    <router-outlet></router-outlet>
</mat-sidenav-container>
